<mat-card class="example-card">
    <mat-card-header>
      <mat-card-title>{{product.name}}</mat-card-title>
      <mat-card-subtitle>{{product.price | currency}}</mat-card-subtitle>
    </mat-card-header>
    <img [src]="product.image" width="100%" alt="Photo of a Shiba Inu">
    <mat-card-content>
      <p>
        {{product.description}}
      </p>
    </mat-card-content>
    <mat-card-actions class="is-flex is-justify-content-space-between">
      <button mat-raised-button (click)="addCart()" color="primary">Agregar al carrito</button>
      <div>
        <button mat-mini-fab class="mx-3" (click)="removeQuantity()"><mat-icon>horizontal_rule</mat-icon></button>
        <span class="is-size-4">{{quantity}}</span>
        <button mat-mini-fab class="mx-3" (click)="addQuantity()"><mat-icon>add</mat-icon></button>
      </div>
    </mat-card-actions>
  </mat-card>
  